* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-kaa.kaa-kaz.lrx -text
/apertium-kaz-kaa.kaa-kaz.rlx -text
/apertium-kaz-kaa.kaa-kaz.t1x -text
/apertium-kaz-kaa.kaa-kaz.t2x -text
/apertium-kaz-kaa.kaz-kaa.dix -text
/apertium-kaz-kaa.kaz-kaa.lrx -text
/apertium-kaz-kaa.kaz-kaa.rlx -text
/apertium-kaz-kaa.kaz-kaa.t1x -text
/apertium-kaz-kaa.kaz-kaa.t2x -text
/apertium-kaz-kaa.post-kaa.dix -text
/apertium-kaz-kaa.post-kaz.dix -text
/autogen.sh -text
/configure.ac -text
dev/bidix.tsv -text
dev/ods-to-tsv.sh -text
dev/process-tsv.py -text
dev/proper-nouns.dix -text
/modes.xml -text
texts/story.kaa.txt -text
texts/story.kaz.txt -text svneol=unset#application/octet-stream
