/.deps
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache
/config.log
/config.status
/configure
/install-sh
/kaa-kaz.autobil.bin
/kaa-kaz.autogen.bin
/kaa-kaz.automorf.bin
/kaa-kaz.autopgen.bin
/kaa-kaz.lrx.bin
/kaa-kaz.mode
/kaa-kaz.rlx.bin
/kaa-kaz.t1x.bin
/kaa-kaz.t2x.bin
/kaz-kaa.autobil.bin
/kaz-kaa.autogen.bin
/kaz-kaa.automorf.bin
/kaz-kaa.autopgen.bin
/kaz-kaa.lrx.bin
/kaz-kaa.mode
/kaz-kaa.rlx.bin
/kaz-kaa.t1x.bin
/kaz-kaa.t2x.bin
/missing
/modes
