* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/apertium-kaz-kaa.kaa-kaz.lrx -text
/apertium-kaz-kaa.kaa-kaz.rlx -text
/apertium-kaz-kaa.kaa-kaz.t1x -text
/apertium-kaz-kaa.kaa-kaz.t2x -text
/apertium-kaz-kaa.kaz-kaa.dix -text
/apertium-kaz-kaa.kaz-kaa.lrx -text
/apertium-kaz-kaa.kaz-kaa.rlx -text
/apertium-kaz-kaa.kaz-kaa.t1x -text
/apertium-kaz-kaa.kaz-kaa.t2x -text
/apertium-kaz-kaa.post-kaa.dix -text
/apertium-kaz-kaa.post-kaz.dix -text
/autogen.sh -text
/configure.ac -text
corpus/README -text
corpus/corpus.kaa.txt -text
corpus/corpus.kaz.txt -text
corpus/kaa-kaz-nova.txt -text
corpus/kaa-kaz-origina.txt -text
corpus/kaz-kaa-nova.txt -text
corpus/kaz-kaa-origina.txt -text
dev/bidix.tsv -text
dev/ods-to-tsv.sh -text
dev/process-tsv.py -text
dev/proper-nouns.dix -text
/modes.xml -text
/qa.sh -text
test-scripts/all.test -text
test-scripts/kaa-kaz-corp.test -text
test-scripts/kaz-kaa-corp.test -text
testvoc/lite/README -text
testvoc/lite/testvoc-summary.kaz-kaa.txt -text
testvoc/lite/testvoc.sh -text
testvoc/standard/inconsistency-summary.sh -text
testvoc/standard/inconsistency.sh -text
testvoc/standard/testvoc.sh -text
texts/buddizm.kaa.txt -text
texts/buddizm.kaz.txt -text svneol=unset#application/octet-stream
texts/story.kaa.txt -text
texts/story.kaz.txt -text svneol=unset#application/octet-stream
